.event-container {
  box-shadow: 5px 5px 10px 0px #b8b8b8;
}

.conect-form {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: 5px 5px 10px 0px #b8b8b8;
}
